.TasksView {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
  min-height: 100vh;
  color: rgb(7, 3, 3);
  padding: 25px 50px;
}

.TasksView .tasks-edit-form-wrapper {
  display: flex;
  gap: 1rem;
}

.TasksView .task-list-wrapper {
  flex-grow: 1;
}

.TasksView .task-form-container {
  flex-basis: 400px;
}

.TasksView .task-form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TasksView .task-form-header .close-btn:hover {
    cursor: default; 
}
